
.text-input
  margin: 0.25rem 0.4rem
  width: calc(100% - (0.4rem * 2))
  background-color: transparent
  border: 1px solid transparent
  border-bottom: 1px solid #bfbfbf
  &:focus
    background-color: white
    border: 1px solid black
