.card-drag-area
  height: 35px
  margin: 0 10px 7px
  max-width: 260px
  &.dragging
    background-color: rgba(0, 0, 0, .2)
.card-item
  border-radius: 2px
  min-height: 35px
  max-width: 260px
  background: white
  box-shadow: 0 2px 2px #a7a7a7
  .title
    white-space: normal
    width: 280px
  &.dragging
    transform: rotateZ(5deg)
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
  &:hover
    background: #f4f6f7
    cursor: pointer