.card-drag-area
  min-height: 35px
  margin: 7px 10px 0
  width: 260px
  &.dragging
    background-color: rgba(0, 0, 0, .2)
    transform: rotateZ(5deg)
    box-shadow: 0 0 15px rgba(0, 0, 0, .5)
    & .card-item
      box-shadow: none
.card-item
  border-radius: 2px
  min-height: 35px
  width: 260px
  background: white
  box-shadow: 0 2px 2px #a7a7a7
  .title
    white-space: normal
  &:hover
    background: #f4f6f7
    cursor: pointer