@import './vars.sass'
@import './media/_mediaCardDetails'

.card-details-wrap
  position: fixed
  overflow: scroll
  background-color: rgba(0, 0, 0, .5)
  z-index: 10001
  top: 0
  left: 0

.card-details__container
  position: relative
  z-index: 1001
  margin: 50px auto
  width: 768px
  box-shadow: 0 0 10px rgba(0, 0, 0, .4)
  background-color: $popup-background-light
  .card-details__title-input
    width: calc(100% - 30px)
    background-color: transparent
    border: transparent 1px solid
    resize: none
    padding:
      left: 4px
      right: 5px
      top: 3px
      bottom: 3px
    line-height: 20px
    &:focus
      border: black 1px solid
      background-color: white
  .column-title
    padding-left: 5px
    a
      position: relative
      color: black
      text-decoration: underline
      .move-card-icon
        path
          fill: #4e4e4e
  .card-details__popup
    display: block

.card-details__labels-wrap
  margin-top: 15px
  padding-left: 5px
  .card-details__labels-container
    display: flex
    flex-wrap: wrap

    .add-label-btn
      display: flex
      align-items: center
      justify-content: center
      height: 35px
      width: 35px
      margin:
        top: 4px
      line-height: 1
      align-self: baseline
      border: none
      background: lightgrey
      &:focus
        box-shadow: none
      &:hover
        background-color: lighten(grey, 25)
        color: inherit

.card-details__description-wrap
  margin-top: 15px
  padding-left: 5px
  .card-details__description-input-container
    .card-details__description-input
      border: none
      background-color: darken($popup-background-light, 10)
      line-height: 1.2
      padding:
        left: 0.7rem
        right: 0.7rem
      &:focus
        background-color: white

  .card-details__description-buttons-container
    display: none
    padding:
      top: .5em
    &.active
      display: block
    > button
      padding: 0.17em 0.5em
      border: none

.discard-btn
  background-color: $popup-background-light
  margin-left: 12px
  .close-icon
    transform: scale(1.2)

.card-details__comments-wrap
  margin-top: 15px
  padding-left: 5px
  .card-details__comment-input
    padding: 0.4rem 0.7rem
  .card-details__comment-button-container
    display: none
    padding:
      top: .5em
    &.active
      display: block
    > button
      padding: 0.17em 0.5em
      border: none
      &:disabled
        opacity: 0.4