.edit-account-form
  border: 2px solid #007bff;
  margin:
    bottom: 1rem
  &__submit-btn-container
    height: 38px
  &__reset-password-btn-container
    display: block
    width: 100%
    text-align: center
  &__reset-password-btn
    margin:
      bottom: 10px
    text-decoration: underline
    color: #007bff
    position: relative
    background-color: transparent
    border: none
    &:focus
      outline: none
      border: none
    &_loading
      text-decoration: none
      height: 26px
    .reset-password-btn__loader
      &:after
        content: '.'
        position: absolute
        top: -100%
        left: 50%
        font-size: 40px
        transform: translate(-50%, 0)
        animation: dots-loader 1.5s linear infinite

@keyframes dots-loader
  0%
    content: '.'
  33%
    content: '..'
  66%
    content: '...'