.label-container
  display: inline-block
  margin: 0 5px 5px 0
  &.revealed
    .label-content
      height: 100%

  .label-content
    color: white
    padding: 0 15px
    line-height: 35px
    border-radius: 0.2rem
    font-weight: 500
    height: 8px
    min-width: 50px
    cursor: pointer
    
